body {
    min-width: 30em;
}

.link {
    color: #0000FF;
    text-decoration: underline;
    cursor: pointer;
}

#save-team-contents {
    display: none;
}

.import-screen-toggle {
    display: none;
}